<template>
  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light" role="navigation">
    <a class="navbar-brand" href="#">
      <i class="fa fa-database"></i>
      <span>Data analyzer</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mr-auto">
        <li repeat.for="nav of router.navigation" class="nav-item ${nav.isActive ? 'active' : ''}">
          <a class="nav-link" href.bind="nav.href">${nav.title}</a>
        </li>
      </ul>
    </div>
  </nav>
</template>
