<template>
  <div class="m-3">
    <div if.bind="!data">No data - import a file first</div>
    <div if.bind="data">
      <canvas id="scatterChart" ref="scatterChart"></canvas>
    </div>
  </div>
</template>
