<template>
    <require from="./data-input.css"></require>

    <div class="m-3">
        <div>
            <input type="file" ref="input" accept="text/plain, .csv" hide="true" files.bind="files">
            <button class="btn btn-primary" click.delegate="input.click()">
                <i class="fas fa-file-import"></i>
                <span>Import CSV</span>
            </button>
        </div>

        <div if.bind="info" class="mt-3">
            <div>File: <b>${info.filename}</b></div>
            <div>Size: <b>${info.filesize} bytes</b></div>
            <div>Columns: <b>${info.columnCount}</b></div>
            <div>Data rows: <b>${info.rowCount}</b></div>
            <hr>
            <h4>Preview</h4>
            <p>Select columns to be included in analysis.</p>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th repeat.for="title of info.preview[0]">
                            <div class="d-flex">
                                <div class="mr-auto">${title}</div>
                                <div>
                                    <input type="checkbox" class="form-check-input" name="checkbox" model.bind="$index" checked.bind="selectedColumns" change.delegate="onSelectColumns()"
                                        title="Include/exclude from displayed data">
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="row of info.preview" if.bind="$index">
                        <td repeat.for="data of row">${data}</td>
                    </tr>
                </tbody>
            </table>
            <h3></h3>
        </div>
    </div>
</template>