<template>
    <require from="./data-table.css"></require>

    <div class="m-3">
        <div if.bind="!data">No data - import a file first</div>
        <div if.bind="data">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th repeat.for="title of titles" class="title">
                            <div class="d-flex">
                                <span class="mr-auto">${title}</span>
                                <span class="info">Average: ${averages[$index]}<br>Median: ${medians[$index]}</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="row of data">
                        <td repeat.for="column of row">${column}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<template>