<template>
  <require from="bootstrap/dist/css/bootstrap.min.css"></require>
  <require from="@fortawesome/fontawesome-free/css/all.min.css"></require>
  <require from="resources/elements/nav-bar/nav-bar"></require>
  <require from="./app.css"></require>

  <nav-bar router.bind="router"></nav-bar>
  <router-view></router-view>
</template>
